<ul>
    <li><a href="https://us-cert.cisa.gov/ics">ICS-CERT</a></li>
    <li><a href="https://ics-cert.kaspersky.com/">Kaspersky</a></li>
    <li><a href="https://www.dragos.com/">Dragos</a></li>
    <li><a href="https://www.kraftcert.no/">KraftCERT</a></li>
</ul>
<ul>
    <li><a href="https://www.enisa.europa.eu/topics/critical-information-infrastructures-and-services/scada">ENISA</a></li>
    <li><a href="https://cert.europa.eu/cert/filteredition/en/CERT-LatestNews.html">CERT.eu</a></li>
</ul>